@charset "UTF-8";
/*==============RESET===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
    
ul {
    list-style: none;
  }
    
a {
    text-decoration: none;
  }
    
img {
    width: 100%;
    height: auto;

  }

  
  /*=================VARIAVEIS===================*/
:root{
    --HeaderAndFooter: #3265FC;
    --background: #5a83fc;
    --pesquisaBackgroud: #90acff;
    --colorTextLink: rgb(204, 249, 255);
    --colorText: #001964;
    --transitionColor: #8659FC;
    --navBackground: rgba(29, 224, 251, 0.54);
    --cupons: #008D6D;
}



body{
  background-color:var(--pesquisaBackgroud);
}

main{
  margin-top: -50px;
}

p, a {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--colorText);
  font-size: 13px;
  margin: 5px;
}

h2{
  text-align: center;
  font-size: 50px;
  margin: 15px;
  color: var(--colorText);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3{
  color: var(--colorText);
  font-size: 24px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4{
  color: var(--colorText);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 4px;
  margin-top: 15px;
}

.transition {
  background-image:linear-gradient(to right , #FFFFFF, var(--transitionColor), #FFFFFF);
  height: 2px;
  width: 100%;
}

.container{
  width: 100%;
  height: min-content;
}

#navInt{
  color: var(--colorTextLink);
}

#navInt:hover{
  color: var(--colorText);
  background-color: var(--navBackground);
  border-radius: 2px;
  font-size: 24px;
  padding: 5px;
  transition: 250ms;
}

/*===================Headear===================*/

header {
    z-index: 1; 
    width: 100%;
    background-color: var(--HeaderAndFooter);
  }
  .header{   
    display: flex; 
    justify-content: flex-start;
    }
  .logo {
      width: 70px;
      height: 70px;
      margin: 9px 80px 9px 80px;
    }
    .iconsHeader{
      font-size: 30px !important;
      color: var(--colorTextLink);
      cursor: pointer;
  }
  .iconsHeader:hover{
    transition: 0.2s;
    color: #001964;
    background-color: var(--navBackground);
    border-radius: 2px;
  }
  .icons{
    margin-right: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: end;
    justify-content: flex-end;
  }
  

  nav > ul{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  nav > ul > li {
      padding: 10px 80px 9px 80px;
      
  }
  nav > ul > li > a{
    color: var(--colorTextLink);
  }
  

  /*----------PRODUTOS----------*/ 
  #imgLogo{
    width: 70px;
  }


  .containers {
    display: flex;
    justify-content: space-around;
  }

  .produtos{
    display: block;
    padding: 30px;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(101, 103, 226, 0.847);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 1%;
    width: 50%;
    /*border: 1px solid black;*/
  }

.produtos img{
  width: 200px;
  border-radius: 10%;
  height: 200px;
}

.textosprodutos{
  margin: 1%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

/*----------CARRINHO----------*/
.products {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.product {
  padding: 10px;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

#cart {
  margin-top: 20px;
  border-top: 2px solid #000;
  padding-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

#total {
  font-size: 1.2em;
  margin-top: 20px;
  text-align: right;
}

#carrinho{
  background-color: white;
}

#carrinhotitulo img{
  width: 5%;
}

#carrinhotitulo{
  display: flex;
  justify-content: space-evenly;
}

#carrito{
  width: 12%;
}

#compra{
  background-color:var(--pesquisaBackgroud) ;
}

#botao{
  display: flex;
  justify-content: end;
}
/*----------MEDIA----------*/ 
@media only screen and (max-width: 768px) {

  /*----------MEDIA PRODUTOS----------*/ 
    .containers{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 3%;
    }
  
    .produtos{
      display: block;
      background-color: white;
      padding: 10px;
      justify-content: baseline;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(101, 103, 226, 0.847);
      width: 100%;
  }
  
  .textosprodutos{
    margin: 1%;
  }
  
  .textosprodutos > p {
    text-align: left;
  }
  
  .produtos img{
    display: inline;
    width: 150px;
    border-radius: 10%;
  }
  

  #fund {
    height: min-content;
    width: 100%;
}.textAbout, .textInfo {
  height: min-content;
  width: 100%;
}
  #mobile{
    display: flex;
  }
  #diferencial{
    justify-content: center;
  }
  .right, .left {
    display: none;
  }

  .inicio{
    display: none;
  }
  }