@charset "UTF-8";
/*==============RESET===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
    
ul {
    list-style: none;
  }
    
a {
    text-decoration: none;
  }
    
img {
    width: 100%;
    height: auto;

  }

  
  /*=================VARIAVEIS===================*/
:root{
    --HeaderAndFooter: #3265FC;
    --background: #5a83fc;
    --pesquisaBackgroud: #90acff;
    --colorTextLink: rgb(204, 249, 255);
    --colorText: #001964;
    --transitionColor: #8659FC;
    --navBackground: rgba(29, 224, 251, 0.54);
    --cupons: #008D6D;
}



body{
  background-color: #FFFF;
}

p, a {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--colorText);
  font-size: 13px;
  margin: 5px;
}

h2{
  text-align: center;
  font-size: 50px;
  margin: 15px;
  color: var(--colorText);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
h3{
  color: var(--colorText);
  font-size: 24px;
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h4{
  color: var(--colorText);
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin-left: 4px;
  margin-top: 15px;
}

/*===================Headear===================*/

header {
    z-index: 1; 
    width: 100%;
    background-color: var(--HeaderAndFooter);
  }
  .header{   
    display: flex; 
    justify-content: flex-start;
    }
  .logo {
      width: 70px;
      height: 70px;
      margin: 9px 80px 9px 80px;
    }
    .iconsHeader{
      font-size: 30px !important;
      color: var(--colorTextLink);
      cursor: pointer;
  }
  .iconsHeader:hover{
    transition: 0.2s;
    color: #001964;
    background-color: var(--navBackground);
    border-radius: 2px;
  }
  .icons{
    margin-right: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-items: end;
    justify-content: flex-end;
  }
  

  nav > ul{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
  nav > ul > li {
      padding: 10px 80px 9px 80px;
      
  }
  nav > ul > li > a{
    color: var(--colorTextLink);
  }
  

  /*----------PRODUTOS----------*/ 
  #imgLogo{
    width: 70px;
  }


  .containers {
    display: flex;
    justify-content: space-around;
  }

  .produtos{
    display: block;
    padding: 30px;
    text-align: center;
    position: relative;
    background-color:var(--pesquisaBackgroud);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(101, 103, 226, 0.847);
    overflow: hidden;
    transition: transform 0.3s;
    margin: 1%;
    width: 50%;
    /*border: 1px solid black;*/
  }

.produtos img{
  width: 200px;
  border-radius: 10%;
  height: 200px;
}

.textosprodutos{
  margin: 1%;
  background-color: #cdd0e9;
  border-radius: 10px;
  padding: 1%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*----------MEDIA----------*/ 
@media only screen and (max-width: 768px) {

  /*----------MEDIA PRODUTOS----------*/ 
    .containers{
      display: flex;
      flex-direction: column;
      margin: 1%;
    }
  
    .produtos{
      display: flex;
      background: #EFD7DF;
      padding: 10px;
      justify-content: baseline;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(226, 101, 170, 0.847);
      margin: 2%;
      border: 1px solid black;
  }
  
  .textosprodutos{
    margin: 1%;
    color: purple;
  }
  
  .textosprodutos > p {
    text-align: left;
  }
  
  .produtos img{
    display: inline;
    width: 150px;
    border-radius: 10%;
  }
  
  }