@charset "UTF-8";
/*==============RESET===============*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
    
ul {
    list-style: none;
  }
    
a {
    text-decoration: none;
  }
    
img {
    width: 100%;
    height: auto;

  }
  
  /*=================VARIAVEIS===================*/
:root{
    --HeaderAndFooter: #3265FC;
    --background: #5a83fc;
    --pesquisaBackgroud: #90acff;
    --colorTextLink: rgb(204, 249, 255);
    --colorText: #001964;
    --transitionColor: #8659FC;
    --navBackground: rgba(29, 224, 251, 0.54);
}

.transition {
  background-image:linear-gradient(to right , #FFFFFF, var(--transitionColor), #FFFFFF);
  height: 2px;
  width: 100%;
  
}

.neonderthaw-regular {
  font-family: "Neonderthaw", cursive;
  font-weight: 400;
  font-style: normal;
}



.museomoderno-font {
  margin-top: 150px;
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}


body{
  background-color: #FFFF;
}

p, a {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--colorText);
  font-size: 13px;
  margin: 5px;
}

h2{
  text-align: center;
  font-size: 50px;
  margin: 15px;
  color: var(--colorText);
}

h4{
  color: var(--colorText);
  margin-left: 4px;
  margin-top: 15px;
}


.hide{
  display: none !important;
}
.menuH{
  display: none !important;
}

.overFlow{
  overflow: hidden;
} 
#navInt{
  color: var(--colorTextLink);
}
#navInt:hover{
  color: var(--colorText);
  background-color: var(--navBackground);
  border-radius: 2px;
  font-size: 24px;
  padding: 5px;
  transition: 250ms;
}

/*=========="Interatividade"=================*/


li > a:hover{
  color: var(--colorText);
  padding: 5px;
  background-color: rgba(161, 244, 255, 0.349);
  border-radius: 2px;
  font-size: 18px;
  transition: 250ms;
}


.search{
  width: 99%;
  height: 150px;
  align-self: center;
  align-items: center;
  text-align: left;
  background-color: var(--pesquisaBackgroud);
  padding-left: 10px; 
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
}  

#closeLoc{
  display: flex;
  width: 100%;
  height: 10px;
  flex-direction: row-reverse;
}

#close{
  font-size: 24px !important;
  text-align: left;
  position: fixed;
  background-color: var(--background);
  border: 1px solid #001964;
  border-radius: 100%;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
#close:hover{
  background-color: var(--pesquisaBackgroud);
}
#lupaPes{
  font-size: 36px !important;
  cursor: default;
}
input{
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 24px;
}



#pesquisa{
  width: 100%;
  background-color: #ffffffcd;
  position: fixed;
  z-index: 2;
  height:100%; 
}

#produtos{
  display: none;
  justify-content: center;
  background-color: #e5e5e5e0;
  position: fixed;
  width: 95%;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 550px;
  z-index: 3;
}
#contPes{
  width: 100%;
}

.liPesquisa{
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--colorText);
}
.liPesquisa:hover{
  transition: 0.2s;
  background-color: #d3d3d3;
}

#menu{
  width: 100%;
  height: 100%;
  background-color: var(--HeaderAndFooter);
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
}

#ulMenu{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.liMenu{
  height: 100px;
}

.liMenu > a{
  font-size: 36px;
}

.liMenu > a:hover{
  color: var(--colorText);
  padding: 5px;
  background-color: rgba(161, 244, 255, 0.349);
  border-radius: 2px;
  font-size: 60px;
  transition: 250ms;
}

#mobile{
  display: none;
  flex-direction: column;
  text-align: center;
}
.textMob{
  width: 95%;
  background-color: rgba(90, 131, 252, 0.5);
  height: 92%;
}

.titleMob{
  cursor: pointer;
}

  /*===================Headear===================*/

header {
  position: fixed;
  width: 100%;
  background-color: var(--HeaderAndFooter);
  z-index: 3;
  
}
.header{   
  display: flex; 
  justify-content: flex-start;
  }
.logo {
    width: 70px;
    height: 70px;
    margin: 9px 80px 9px 80px;
  }
  .iconsHeader{
    font-size: 30px !important;
    color: var(--colorTextLink);
    cursor: pointer;
}
.iconsHeader:hover{
  transition: 0.2s;
  color: #001964;
  background-color: var(--navBackground);
  border-radius: 2px;
}
.icons{
  margin-right: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: end;
  justify-content: flex-end;
}

nav{
  background-color: var(--navBackground);
  width: 100%;
  height: 40px;
  
}
nav > ul{
  align-items: center;
  display: flex;
  justify-content: center;
  
}
nav > ul > li {
    padding: 10px 80px 9px 80px;
    
}
nav > ul > li > a{
  color: var(--colorTextLink);
}

/*==============About==============*/
#about{
  display: flex;
  height: max-content;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#fund {
  height: 502px;
  width: 422px;
  
}

.textAbout{
 
  background-image:linear-gradient(to right , #fff,rgba(90, 131, 252, 0.67)) ;
  
}


/*===========Info================*/

#info{
  display: flex;
  height: max-content;
  margin-bottom: 10px;
  flex-direction: row-reverse;
  justify-items: center;
  align-items: center;
}
#contInfo{
  display: flex;
  width: 98%;
  height: max-content;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
.imgInfo{
  text-align: center;
}

.imgInfo > img{
  width: 329px;
  height: 312px;
  border-radius: 100%;
  border: 1px solid var(--colorText);
}

.textInfo{
  padding: 10px;
  background-color: var(--background);
  width: 450px;
  height: min-content;

}



/*=============Diferencial============*/

#diferencial{
  display: flex;
  width:100%;
  height: max-content;
  background-color: rgba(90, 131, 252, 0.5);
  padding: 20px 35px 20px 30px;
  margin-bottom: 50px;
  margin-top: 30px;
  align-items: center;
  justify-content: space-evenly;
}

.imagensdife{
  width: 30%;
}

.dife{
  text-align: center;
}


/*=================Footer=================*/


#navAbout4{
  background-color: var(--HeaderAndFooter);
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 21px;
}
footer > h5{
  text-align: center;
}

footer{
  width: 100%;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#final{
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
}

#final div > h4{
  font-size: 20px;
  margin-bottom: 1%;
}

#email{
  display: flex;
  border: 1px solid #001964;
  width: 70%;
  font-size: 16px;
  border-radius:5px;
  outline: none;
  margin-left: 5px;
}

#email button{
  font-size: 16px;
  border: none;
  background-color: var(--pesquisaBackgroud);
  color: white;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

#campoPesquisa {
  color:#001964
}

#QRcode{
  width: 150px;
  height:150px;
  margin-left: 7.5%;
}

#redes{
  margin-left: 10%;
  display: flex;
  width: 2%;
}

.inicio{
  position: relative;
  margin: 145px 0px 1px 0px;
  width: 100%;
  height: 500px;
  background-color: #001964;
  border-radius: 1%;
}

.imginicio {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  opacity: 0.5; 
}

.slogam {
  position: absolute;
  top: 35%;
  color: white; 
  font-size: 5rem;
}



/*===============Media============*/

@media screen and (max-width: 1024px){

}  @media  screen and (max-width: 850px) {
    #about{
      flex-direction: column;
    }
    #contInfo{
      flex-direction: column;
    }
    .menuH{
      display: block !important;
    }
    nav{
      display: none;
    }
} @media screen and (max-width: 600px) {

  .header a{
    margin-left: -10px;
  }
  #fund {
    height: min-content;
    width: 100%;
}.textAbout, .textInfo {
  height: min-content;
  width: 100%;
}
  #mobile{
    display: flex;
  }
  #diferencial{
    justify-content: center;
  }
  .right, .left {
    display: none;
  }

  .inicio{
    height: 600px;
    margin-top: 0px;
  }

  .dife{
    display: none;
  }

  #final{
    display: block;
  }

  #QRcode{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 150px;
    height:150px;
    margin-left: 25%;
  }

  #redes{
    margin-left: 15%;
    display: flex;
    width: 5%;
  }
}